body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#inheritance-tab-pane {
  .text-document-areas {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3em auto;

    .structure {
      grid-column: 1;
      grid-row: 1 / 3;
    }

    .inheritance-container {
      grid-column: 2;
      grid-row: 2 / 3;
    }
  }
}

#semanticdb-tab-pane {
  .text-document-areas {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ----- collapsable --------- */

ul.collapsable-children > li > .collapsable-wrapper {
  margin-left: 0;
}


/*---- cards --- */

code[class*=language-], pre[class*=language-] {
  //font-size: inherit;
}

.card {
  border: none !important;
}

.card-uri pre,
.card-occurrence pre,
.card-synthetic pre,
.card-symbol-information pre {
  //margin: 0;
  //font-size: xx-small;
}
