html {
    height: 100%;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: small;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

#app {
    height: 100%;
}

#te-toplevel {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
    background-color: blueviolet;
}


#te-header {
    grid-column: span 3;
}

#te-left-column {
    padding: 0;
    background-color: blue;
    overflow-x: scroll;
}

#te-left-column .text-document {
}


#te-center-column {
    background-color: yellow;
    /* border-left: 1px solid lightgray; */
    /* border-right: 1px solid lightgray; */
    /* padding: 0px; */
}

#te-right-column {
    /* padding: 0px; */
    background-color: darkorange;
}

#te-footer {
    background: lightsteelblue;
    grid-column: span 3;    
}

