
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: small;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

#app {
    /* height: 100vh; */
}

#te-toplevel {
    display: grid;
    gap: 1px;
    grid-template-areas: 
        "header header"
        "te-tabs-header te-tabs-header"
        "structure tabs-container"
        "footer footer"
        ;
    grid-template-columns: minmax(auto, 12em) 1fr;
    grid-template-rows: auto auto minmax(10px, 1fr) auto;
    height: 100vh;
}

#te-header {
    grid-area: header;
}

#structure {
    grid-area: structure;
}

#te-tabs-header {
    grid-area: te-tabs-header;
}

.tabs-container {
    grid-area: tabs-container;
    overflow: auto;
}

#te-footer {
    grid-area: footer;
    background: rgb(248, 249, 250);
}


.text-document-container {
    padding: 10px;
}

.symbol-information {
    margin: 5px 0px 5px 0px;
    background-color: lightblue;
}

.symbol-information pre {
    margin: 0px;
}