
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: small;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

a {
    text-decoration: none;
}

.hide {
  display: none;
}

.show-inline {
  display: inline;
}

#app {
    height: 100vh;
}

#te-toplevel {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 100%;
}


/* -------- tabs ------------- */

.te-tabs-container {
    flex: 1;
    grid-area: te-tabs-container;
    border-left: 1px solid lightgray;
    overflow: auto;
    padding-top: 5px;
}

.tab-content {
    height: 100%;
}

.te-tabs-header {
    margin-top: 5px;
}

/*---- cards --- */

.card-body {
  background-color: #f6f2f0;
  padding: 5px;
}

.card-uri {
    /* background-color: lightgray; */
}

.card-symbol-information {
    /* background-color: lightblue; */
}

.card-uri pre,
.card-occurrence pre,
.card-synthetic pre,
.card-symbol-information pre {
    margin: 0;
    font-size: xx-small;
}

.card-occurrence {
    /* background-color: lightgoldenrodyellow; */
}

.card-synthetic {
    /* background-color: lightpink; */
}

/* ------------------ */

.structure {
  height: 100%;
  overflow: auto;
  padding: 5px;
}

