# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Scala CI - release

on:
  push:
    branches: [ "release" ]
  pull_request:
    branches: [ "release" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '18'
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'sbt'
    - name: Install npm modules
      run: npm install

    - name: Run tests
      run: sbt -J-Xmx2G test
      # Optional: This step uploads information to the GitHub dependency graph and unblocking Dependabot alerts for the repository
#    - name: Upload dependency graph
#      uses: scalacenter/sbt-dependency-submission@ab086b50c947c9774b70f39fc7f6e20ca2706c91
    - name: Create Artifact
      run: |
        ./scripts/build-package.sh
      shell: bash

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        path: backend/target/universal/type-explorer-backend-*.zip
